<div>
    <h1>App Socket</h1>

    <form action="">
        <input type="text" name="nombre" placeholder="Tu Nombre">
        <input type="text" name="mensaje" placeholder="Tu mensaje...">
        <input type="submit" value="Enviar">
    </form>
</div>
<div class="caja" id="caja">
    <p></p>
</div>